.nft-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.nft-item {
  flex: 0 0 calc(20% - 10px); /* 20% width with 10px margin */
  margin: 5px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.row-divider {
  width: 100%;
  margin-top: 10px; /* Add spacing between rows */
}

.load-more-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-button:hover {
  background-color: #0056b3;
}
.home-container {
  position: relative; /* Make the container relative */
  width: 100%; /* Ensure the container fills the width of the page */
  height: 100vh; /* Set the container to full viewport height */
  padding: 20px; /* Add padding for better visualization */

  /* Add other styles as needed for the container */
}
.connect-wallet-button {
  position: absolute; /* Position the button absolutely */
  top: 10px; /* Adjust the top value as needed */
  right: 10px; /* Adjust the right value as needed */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;

  /* Add other styles for the button's appearance */
}
